section {
    width: 60%;
    float: left;
    background-color: green;
}
aside {
    width: 40%;
    float: right;
    background-color: red;
}
#media1 {
    background-color: green;
}
#media2 {
    background-color: red;
}
@media screen and (min-width: 786px) and (max-width: 1024px){
    #media1 {
        width: 50%;
        float: left;
    }
    #media2 {
        width: 50%;
        float: right;
    }
}
@media  screen and (min-width: 1200px){
    #media1 {
        width: 50px;
        float: left;
    }
    #media2 {
        width: 50px;
        float: right;
    }
}