#I {
    position: absolute;
    top: 100px;
    left: 100px;
}
#bathroom {
    position: absolute;
    top: 100px;
    left: 200px;
}
#kitchen {
    position: absolute;
    top: 100px;
    left: 300px;
}
#living_room {
    position: absolute;
    top: 100px;
    left: 400px;
}
#bedroom {
    position: absolute;
    top: 100px;
    left: 500px;
}
#exit {
    position: absolute;
    top: 100px;
    left: 600px;
}
#form {
    position: absolute;
    top: 0px;
    left: 100px;
}
#info {
    position: absolute;
    top: 50px;
    left: 100px;
}
#a {
    position: absolute;
    left: 100px;
    display: none;
}
#b {
    position: absolute;
    left: 200px;
    display: none;
}
#c {
    position: absolute;
    left: 300px;
    display: none;
}
#d {
    position: absolute;
    left: 400px;
    display: none;
}